<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">Card footer</div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Card with icon
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with switch
          <div class="card-header-actions" style="height: 21px;">
            <label class="switch switch-sm switch-label switch-info">
              <input type="checkbox" class="switch-input" checked>
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
          </div>
        </div>
        <div></div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Id</th>
              <th>User Request</th>
              <th>User Approve</th>
              <th>Type</th>
              <th>Duration</th>
              <th>Unit</th>
              <th>Status</th>
              <th>Date Requested</th>
              <th>Date Approve</th>
              <th>Date Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leaveRequests of leaveRequests">
              <td><input type="checkbox" id="checkd" /></td>
              <td>{{ leaveRequests.id }}</td>
              <td>{{ leaveRequests.userRequested }}</td>
              <td>{{ leaveRequests.userApproved }}</td>
              <td>{{ leaveRequests.type }}</td>
              <td>{{ leaveRequests.duration }}</td>
              <td>{{ leaveRequests.unit }}</td>
              <td>{{ leaveRequests.status }}</td>
              <td>{{ leaveRequests.dateRequested }}</td>
              <td>{{ leaveRequests.dateApproved }}</td>
              <td>{{ leaveRequests.dateCreated }}</td>

              <td>
                <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                  <a class="btn btn-primary" (click)="onOpenModal(leaveRequests, 'approve')" role="button">Approve</a>

                  <!-- <span class="sr-only">(current)</span> -->
                  <button type="button" class="btn btn-ghost-success" (click)="onOpenModal(leaveRequests, 'refuse')"
                    role="button">
                    <i class="fa fa-lightbulb-o"></i>&nbsp;Refuse
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <nav style="float: right; padding-right: 30px">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button class="btn btn-outline-primary" (click)="onOpenModal(null, 'add')"
            style="float: left; margin-right: 30px">Add
          </button>
        </div>

        <div>
          <a class="btn btn-outline-success" (click)="onOpenModal(null, 'cancel')" role="button"
            style="float: left">Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Request Modal -->
<div class="modal fade" id="addRequestModal" tabindex="-1" role="dialog" aria-labelledby="addRequestModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRequestModalLabel">Add Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRequest(addForm)">
          <div class="form-group">
            <label for="select1">Type</label>
            <select id="select1" name="type" class="form-control">
              <option value="1">Intern</option>
              <option value="2">Staff</option>
            </select>
          </div>
          <div class="form-group">
            <label for="duration">Duration</label>
            <input type="number" ngModel name="duration" class="form-control" placeholder=" Duration" required />
          </div>
          <div class="form-group">
            <label for="select1">Unit</label>
            <select id="select1" name="unit" class="form-control">
              <option value="1">DAY</option>
              <option value="2">HOUR</option>
            </select>
          </div>
          <div class="form-group">
            <label for="select1">Status</label>
            <select id="select1" name="type" class="form-control">
              <option value="1">PENDING</option>
              <option value="2">CANCEL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Status">Date Request</label>
            <input type="date" ngModel name="dateRequested" class="form-control" required />
          </div>
          <div class="modal-footer">
            <button type="button" id="add-request-form" class="btn btn-secondary" data-dismiss="modal"
              (click)="cModal()">
              Close
            </button>
            <button type="submit" class="btn btn-primary" (click)="hideModal()">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteRequestModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel request?</p>
        <!-- {{deleteRequest?.name}} -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button class="btn btn-danger" data-dismiss="modal" (click)="onCancelRequest(cancelRequest.id)">
            Yes
          </button>
          <!-- (click)="onDeleteEmloyee(deleteRequest?.id)" -->
        </div>
      </div>
    </div>
  </div>
</div>