<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Line Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="lineChartType"
                  [colors]="lineChartColours"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [legend]="lineChartLegend"
                  [options]="lineChartOptions"
                  baseChart
                  class="chart"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Bar Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="barChartType"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [legend]="barChartLegend"
                  [options]="barChartOptions"
                  baseChart
                  class="chart"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Doughnut Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="doughnutChartType"
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  baseChart
                  class="chart"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Radar Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="radarChartType"
                  [datasets]="radarChartData"
                  [labels]="radarChartLabels"
                  baseChart
                  class="chart"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Pie Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="pieChartType"
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  baseChart
                  class="chart"></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Polar Area Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="polarAreaChartType"
                  [data]="polarAreaChartData"
                  [labels]="polarAreaChartLabels"
                  [legend]="polarAreaLegend"
                  baseChart
                  class="chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
