
<div>
  <app-menu></app-menu>
</div>
<div class="card" style="width: 500px;margin-left: 500px;">
  <div class="card-body">
    <div>
      <div class="form-group">
        <label for="avatar"></label>
        <input class="form_control" type="file" id="avatar" placeholder="avatar" name="avatar" required (change)="selectFile($event)">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" placeholder="Email" required [(ngModel)]="users.email" name="email">
        <div class="text-danger" *ngIf=" users.email.errors?.required">This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control" type="text" id="phone" placeholder="Phone" required [(ngModel)]="users.phone" name="phone">
      </div>
      </div>
      <div class="form-group">
        <label for="identityCard">IdentityCard</label>
        <input class="form-control" type="text" id="personalid" placeholder="Personal Id" required [(ngModel)]="users.personalid" name="identityCard">
      </div>
      <div class="form-group">
        <label for="homeTown">HomeTown</label>
        <input class="form-control" type="text" id="hometown" placeholder="Home Town" required [(ngModel)]="users.hometown" name="homeTown">
        <!-- <div class="text-danger" *ngIf="uploadForm.controls.homeTown.errors?.required">This field is required.
        </div> -->
      </div>
      <div class="form-group">
        <label for="school">School</label>
        <input class="form-control" type="text" id="school" placeholder="School" required [(ngModel)]="users.school" name="school">
      </div>
      <div class="form-group">
        <label for="specialized">Specialized</label>
        <input class="form-control" type="text" id="major" placeholder="Major" required [(ngModel)]="users.major" name="major">
      <div class="form-group">
        <label for="firstName">FirstName</label>
        <input class="form-control" type="text" id="firstname" placeholder="FirstName" required [(ngModel)]="users.firstname" name="firstName">
        <div class="form-group">
          <label for="middleName">MiddleName</label>
          <input class="form-control" type="text" id="middlename" placeholder="MiddleName" required [(ngModel)]="users.middlename" name="middlename">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">LastName</label>
        <input class="form-control" type="text" id="lastname" placeholder="LastName" required [(ngModel)]="users.lastname" name="lastName">
      </div>
      <div class="form-group">
        <label for="dob">Date of birth</label>
        <input class="form-control" type="text" id="birthday" placeholder="Date of birth" required [(ngModel)]="users.birthday" name="birthday">
      </div>
      <div class="form-group">
        <label for="sex">Gender</label>
        <select class="form-control" id="gender" placeholder="Gender" required [(ngModel)]="users.gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="education">Education</label>
        <select id="education" class="form-control" placeholder="Education" required [(ngModel)]="users.education" name="education">
          <option value="college">College</option>
          <option value="University">University</option>
          <option value="Apprentice">Apprentice</option>
          <option value="Postgraduate">Postgraduate</option>
          <option value="Doctor">Doctor</option>
          <option value="Master">Master</option>
        </select>
      </div>
      <div class="form-group">
        <label for="staffType"> Type</label>
        <select id="staffType" class="form-control" placeholder=" Type" required [(ngModel)]="users.type" name="type">
          <option value="Collaborators">Collaborators</option>
          <option value="Intership">Intership</option>
          <option value="Probation">Probation</option>
          <option value="Official">Official</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right" (click)="updateProfile()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>


