<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Bootstrap Popover
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/popover" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <button class="btn btn-primary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              type="button">
        Live demo
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Popover
      <small>positioning</small>
    </div>
    <div class="card-body">
      <button class="btn btn-default btn-secondary" placement="top"
              popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              popoverTitle="Popover on top"
              type="button">
        Popover on top
      </button>

      <button class="btn btn-default btn-secondary" placement="right"
              popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              popoverTitle="Popover on right"
              type="button">
        Popover on right
      </button>

      <button class="btn btn-default btn-secondary" placement="auto"
              popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              popoverTitle="Popover auto"
              type="button">
        Popover auto
      </button>

      <button class="btn btn-default btn-secondary" placement="left"
              popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              popoverTitle="Popover on left"
              type="button">
        Popover on left
      </button>

      <button class="btn btn-default btn-secondary" placement="bottom"
              popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              popoverTitle="Popover on bottom"
              type="button">
        Popover on bottom
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Popover
      <small><code>focus</code> trigger</small>
    </div>
    <div class="card-body">
      <button class="btn btn-success" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              popoverTitle="Dismissible popover"
              triggers="focus"
              type="button">
        Dismissible popover
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Popover
      <small>dynamic content</small>
    </div>
    <div class="card-body">
      <button [popoverTitle]="title" [popover]="content"
              class="btn btn-info" type="button">
        Simple binding
      </button>

      <ng-template #popTemplate>Just another: {{content}}</ng-template>
      <button [popover]="popTemplate" class="btn btn-warning"
              popoverTitle="Template ref content inside" type="button">
        TemplateRef binding
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Popover
      <small>dynamic HTML</small>
    </div>
    <div class="card-body">
      <ng-template #popTemplateHtml>Here we go:
        <div [innerHtml]="html"></div>
      </ng-template>
      <button [popover]="popTemplateHtml" class="btn btn-success"
              popoverTitle="Dynamic html inside" type="button">
        Show me popover with html
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Popover
      <small>append to <code>body</code></small>
    </div>
    <div class="card-body">
      <div class="row panel" style="position: relative; overflow: hidden;">
        <div class="card-body panel-body">
          <button class="btn btn-danger" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                  type="button">
            Default popover
          </button>
          <button class="btn btn-success" container="body"
                  popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                  type="button">
            Popover appended to body
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Popover
      <small>custom triggers</small>
    </div>
    <div class="card-body">
      <button class="btn btn-info" popover="I will hide on blur"
              triggers="mouseenter:mouseleave"
              type="button">
        Hover over me!
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Popover
      <small>manual triggering</small>
    </div>
    <div class="card-body">
      <p>
        <span #pop="bs-popover"
              popover="Hello there! I was triggered manually" triggers="">
        This text has attached popover
        </span>
      </p>
      <button (click)="pop.show()" class="btn btn-success" type="button">
        Show
      </button>
      <button (click)="pop.hide()" class="btn btn-warning" type="button">
        Hide
      </button>
    </div>
  </div>
</div>
