<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Bootstrap Progress
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/progressbar" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <progressbar [max]="100" [value]="55" class="progress"></progressbar>
        </div>
        <div class="col-sm-4">
          <progressbar [max]="100" [value]="22" class="progress progress-striped" type="warning">22%</progressbar>
        </div>
        <div class="col-sm-4">
          <progressbar [max]="200" [value]="166" class="progress progress-striped active" type="danger"><i>166 / 200</i>
          </progressbar>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Progress <small>dynamic</small>
    </div>
    <div class="card-body">
      <progressbar [max]="max" [value]="dynamic" class="progress progress-striped progress-animated">
        <span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
      </progressbar>

      <small><em>No animation</em></small>
      <progressbar [max]="100" [value]="dynamic" class="progress progress-success" type="success"><b>{{dynamic}}%</b>
      </progressbar>

      <small><em>Object (changes type based on value)</em></small>
      <progressbar [max]="max" [type]="type" [value]="dynamic"
                   class="progress-bar progress-bar-striped progress-bar-animated">
        {{type}} <i *ngIf="showWarning">!!! Watch out !!!</i>
      </progressbar>
      <br>
      <button (click)="random()" class="btn btn-sm btn-primary" type="button">Randomize</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Progress <small>stacked</small>
    </div>
    <div class="card-body">
      <div class="row col-lg-12">
        <progressbar [max]="100" [value]="stacked" class="progress"></progressbar>
      </div>
      <br>
      <div class="row col-md-12">
        <button (click)="randomize()" class="btn btn-sm btn-primary" type="button">{{buttonCaption}} randomize</button>
      </div>
    </div>
  </div>
</div>
