
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Chọn Project
  </button>
  <div class="dropdown-menu" >
    <a class="dropdown-item" *ngFor="let item of project" (click)="changeItem(item.id)">{{item.name}}</a>
  </div>
</div>

<section style="display: flex;">
    <div class="col-lg-6" >
        <div class="card">
            <div class="card-header" style="float:left">
                <i class="fa fa-align-justify font-bold"></i> <strong>BÁO CÁO TUẦN</strong>
            </div>
            <div class="card-body" id="reportWeek">
                <table class="table table-striped text-center" style="word-break: break-word;">
                    <thead>
                        <tr>
                            
                            <th>DỰ ÁN</th>
                            <th >ID BÁO CÁO</th>
                            <th>NGÀY TẠO</th>
                            <th>TRẠNG THÁI</th>
                            <th>Nguoi Tao</th>
                            
                        
                        </tr>
                    </thead>
                    <tbody > 
                        
                        <tr *ngFor="let report of reports">
                            <ng-container *ngIf="report.type=='WEEKLY'">
                            <td >{{report.projectId}}</td>
                            <td (click)="onOpenModal(null,'read')">{{report.id}}</td>
                            <td>{{report.dateCreat}}</td>
                            <td>{{report.type}}</td>
                            <td>{{report.creater}}</td>
                            <td style="display:none" >{{report.isweek}}</td>
                            
                            
                                
                              
                            
                           
                            </ng-container>
                        </tr>
                        <div>
                          <a role="button" class="badge badge-warning" (click)="onOpenModal(null,'report')">Write report</a>
                      </div>
                       
                        
                      
                        
                    </tbody>
                </table>
              
            </div>
        </div>
    </div>

    <div class="col-lg-6"  >
        <div class="card">
            <div class="card-header" style="float:left" >
                <i class="fa fa-align-justify font-bold"></i> <strong>BÁO CÁO DỰ ÁN</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center" style="word-break: break-word;">
                    <thead>
                        <tr>
                            
                            <th>DỰ ÁN</th>
                            <th>ID BÁO CÁO</th>
                            <th>NGÀY TẠO</th>
                            <th>TRẠNG THÁI</th>
                            <th>Nguoi Tao</th>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr *ngFor="let report of reports"   >
                           <ng-container *ngIf="report.type=='PROJECT'" >
                            
                            <td>{{report.projectId}}</td>
                            <td>{{report.id}}</td>
                            <td>{{report.dateCreat}}</td>
                            <td>{{report.type}}</td>
                            <td>{{report.creater}}</td>
                            <td style="display:none" >{{report.isweek}}</td>
                            
                           
                            </ng-container>
                        </tr>
                        
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
    
</section>
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
  <li class="page-item active">
      <a class="page-link" href="#">1</a>
  </li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">4</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>


<!-- Modal Read -->
<div class="modal fade" id="modalread" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Read Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #readForm ="ngForm">
        <div class="modal-body">
          
          <label for="message-text" class="col-form-label">Du An</label>
              <input ngModel="{{readrequest?.projectId}}" name="projectId" type="text" class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">Id Bao Cao:</label>
              <input ngModel="{{readrequest?.id}}" name="id" type="text"  class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">Ngay Tao:</label>
              <input ngModel="{{readrequest?.dateCreat}}" name="dateCreat" type="text"  class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">Da Doc:</label>
              <input ngModel="{{readrequest?.type}}" name="type" type="text"  class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">Loai Bao Cao</label>
              <input ngModel="{{readrequest?.status}}" name="isweek" type="text" class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">Nguoi Tao:</label>
              <input ngModel="{{readrequest?.creater}}" name="creater" type="text"  class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">advantage:</label>
              <input ngModel="{{readrequest?.advantage}}" name="advantage" type="text"  class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">disadvantage:</label>
              <input ngModel="{{readrequest?.disadvantage}}" name="disadvantage" type="text"  class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">difficuly:</label>
              <input ngModel="{{readrequest?.difficuly}}" name="difficuly" type="text"  class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">propose:</label>
              <input ngModel="{{readrequest?.propose}}" name="propose" type="text"  class="form-control" id="message-text">
            
        </div>
      </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="writeReport(readForm.value)">Close</button>    
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Report -->
  <div class="modal fade" id="modalreport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Write report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" >
            <div class="form-group">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">ADVANTAGE:</label>
              <input type="text"ngModel name="advantage" class="form-control" id="message-text">
            </div>
            <label for="message-text" class="col-form-label">DISADVANTAGE:</label>
              <input type="text"  ngModel name="disadvantage"class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">DIFFICULTY:</label>
              <input type="text" ngModel name="difficuly" class="form-control" id="message-text">
              <label for="message-text" class="col-form-label">PROPOSE:</label>
              <input type="text" ngModel name="propose" class="form-control" id="message-text">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit"data-dismiss="modal" >Send</button>
        </div>
      </div>
    </div>
  </div>


