<div class="row" id="container-main">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Leave Request
      </div>
      <div>
        <div class="card-body" style="margin-left: 30px">
          <div class="btn-group" dropdown>
            <input
              id="search"
              placeholder="Search"
              style="margin-left: 200px; width: 300px; border-radius: 5px"
              type="search"
            />
          </div>
        </div>
        <div></div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>User Request</th>
            <th>User Approve</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Unit</th>
            <th>Status</th>
            <th>Date Requested</th>
            <th>Date Approve</th>
            <th>Date Created</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let leaveRequests of leaveRequests">
            <td><input id="checkd" type="checkbox"/></td>
            <td>{{ leaveRequests.id }}</td>
            <td>{{ leaveRequests.userRequested }}</td>
            <td>{{ leaveRequests.userApproved }}</td>
            <td>{{ leaveRequests.type }}</td>
            <td>{{ leaveRequests.duration }}</td>
            <td>{{ leaveRequests.unit }}</td>
            <td>{{ leaveRequests.status }}</td>
            <td>{{ leaveRequests.dateRequested }}</td>
            <td>{{ leaveRequests.dateApproved }}</td>
            <td>{{ leaveRequests.dateCreated }}</td>

            <td>
              <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                <a
                  (click)="onOpenModal(leaveRequests, 'approve')"
                  class="btn btn-primary"
                  role="button"
                >Approve</a
                >

                <!-- <span class="sr-only">(current)</span> -->
                <button
                  (click)="onOpenModal(leaveRequests, 'refuse')"
                  class="btn btn-ghost-success"
                  role="button"
                  type="button"
                >
                  <i class="fa fa-lightbulb-o"></i>&nbsp;Refuse
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <nav style="float: right; padding-right: 30px">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button
            (click)="onOpenModal(null, 'add')"

            class="btn btn-outline-primary"
            style="float: left; margin-right: 30px"
          >Add
          </button>
        </div>

        <div>
          <a
            (click)="onOpenModal(null, 'cancel')"
            class="btn btn-outline-success"
            role="button"
            style="float: left"
          >Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Request Modal -->
<div
  aria-hidden="true"
  aria-labelledby="addRequestModalLabel"
  class="modal fade"
  id="addRequestModal"
  role="dialog"
  tabindex="-1"


>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRequestModalLabel">Add Request</h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRequest(addForm)">
          <div class="form-group">
            <label for="select1">Type</label>
            <select class="form-control" id="select1" name="type">
              <option value="1">Intern</option>
              <option value="2">Staff</option>
            </select>
          </div>
          <div class="form-group">
            <label for="duration">Duration</label>
            <input
              class="form-control"
              name="duration"
              ngModel
              placeholder=" Duration"
              required
              type="number"
            />
          </div>
          <div class="form-group">
            <label for="select1">Unit</label>
            <select class="form-control" id="select1" name="unit">
              <option value="1">DAY</option>
              <option value="2">HOUR</option>
            </select>
          </div>
          <div class="form-group">
            <label for="select1">Status</label>
            <select class="form-control" id="select1" name="type">
              <option value="1">PENDING</option>
              <option value="2">CANCEL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Status">Date Request</label>
            <input
              class="form-control"
              name="dateRequested"
              ngModel
              required
              type="date"
            />
          </div>
          <div class="modal-footer">
            <button
              (click)="cModal()"
              class="btn btn-secondary"
              data-dismiss="modal"
              id="add-request-form" type="button"
            >
              Close
            </button>
            <button (click)="hideModal()" class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  aria-hidden="true"
  aria-labelledby="deleteModelLabel"
  class="modal fade"
  id="deleteRequestModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Request</h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel request?</p>
        <!-- {{deleteRequest?.name}} -->
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">
            No
          </button>
          <button
            (click)="onCancelRequest(cancelRequest.id)"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Yes
          </button>
          <!-- (click)="onDeleteEmloyee(deleteRequest?.id)" -->
        </div>
      </div>
    </div>
  </div>
</div>
