<button type="button" class="btn btn-primary" id="btn-add" data-toggle="modal" data-target="#myModal" (click)="showModal()">
  Add Project
</button>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Project</h4>
        <button type="button" class="close" (click)="hideModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- Tên đơn vị -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="text-input">Tên đơn vị</label>
          <div class="col-md-8">
            <input type="text" id="text-input" name="text-input" placeholder="Tên đơn vị" class="form-control"/>
          </div>
        </div>
        <!-- Mô tả dự án: Description -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="textarea-input">Mô tả dự án</label>
          <div class="col-md-8">
            <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control"
              placeholder="Tổng quan dự án" ></textarea>
          </div>
        </div>
        <!-- Ngày bắt đầu dự án -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="text-input">Ngày bắt đầu dự án</label>
          <div class="col-md-8">
            <input type="date" id="text-input" name="text-input" placeholder="Ngày bắt đầu dự án" class="form-control"/>
          </div>
        </div>
        <!-- Ngày dự kiến kết thúc dự án -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="text-input">Ngày kết thúc dự án</label>
          <div class="col-md-8">
            <input type="date" id="text-input" name="text-input" placeholder="Ngày kết thúc dự án" class="form-control" />
          </div>
        </div>
        <!-- Trạng thái -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="text-input">Trạng thái</label>
          <div class="col-md-8">
            <input type="text" id="text-input" name="text-input" placeholder="Trạng thái của dự án" class="form-control"/>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendModal()">Add</button>
        <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- table -->
<div class="row" id="container">
  <div class="col-md-6 mb-4" *ngFor="let project of project">
    <tabset>
      <tab heading="Summary">
        <form id="form-summary" action="">
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">Tên đơn vị</label>
            <div class="col-md-8">
              <input type="text" disabled id="text-input" name="text-input" class="form-control"
                [value]="project.nameProject" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="textarea-input">Mô tả dự án</label>
            <div class="col-md-8">
              <textarea id="textarea-input" disabled name="textarea-input" rows="3" class="form-control"
                placeholder="Tổng quan dự án" [value]="project.description"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">Ngày bắt đầu dự án</label>
            <div class="col-md-8">
              <input type="text" id="text-input" name="text-input" class="form-control" [value]="project.dateStated" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">Ngày kết thúc dự án</label>
            <div class="col-md-8">
              <input type="text" id="text-input" name="text-input" class="form-control" [value]="project.dateEnded" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">Trạng thái</label>
            <div class="col-md-8">
              <input type="text" id="text-input" name="text-input" class="form-control" [value]="project.status"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">Tổng số bug</label>
            <div class="col-md-8">
              <input type="text" id="text-input" name="text-input" class="form-control" [value]="project.totalIssues" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">Tổng số nhân viên</label>
            <div class="col-md-8">
              <input type="text" id="text-input" name="text-input" class="form-control"
                [value]="project.totalMember" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="text-input">Now phase</label>
            <div class="col-md-8">
              <input type="text" id="text-input" name="text-input" class="form-control" [value]="project.nowPhase" />
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Members">
        <form id="form-members" action="">
          <img class="img-project d-block m-auto" [src]="project.thumbnail" alt="" />
          <p class="title-project">{{project.nameProject}}</p>
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> List Member
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID User</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Role</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of project.listMember">                    
                    <td>{{item.id }}</td>
                    <td>{{item.username }}</td>
                    <td>{{item.email }}</td>
                    <td>{{item.role}}</td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Issues">
        <form id="form-issues" action="">
          <img class="img-project d-block m-auto" [src]="project.thumbnail" alt="" />
          <p class="title-project">{{project.nameProject}}</p>
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> List Issues
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID Issues</th>
                    <th>Người tạo</th>
                    <th>Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of project.listIssues">                    
                    <td>{{item.id }}</td>
                    <td>{{item.asignee }}</td>
                    <td>{{item.creator }}</td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>