

<div class="row" id="main-container">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Combined All Table
      </div>
      <div>
        <div class="card-body" style="margin-left: 30px;">
                 <div class="btn-group" dropdown>
                   <select id="seclec"style="width:80px; background-color:#0099FF; border-radius: 5px;" >
                     <option value="Role">Role</option>
                     <option value="Division">Division</option>
                     <option value="Project">Project</option>
                     <option value="Type">Type</option>

                   </select>
                   <!-- (ngModelChange)="searchEmployees(key.value)" -->
                   <input type="search"  #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required style="float:left;margin-left: 400px;">
                 </div>
                 
               </div>
               <div>
                
               
               </div>
       </div>
      <div class="card-body" >
        
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Type</th>
              <th>Role</th>
              <th>Fullname</th>
              <th>Username</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Status</th>
              <th></th>
              
              
            </tr>
          </thead>
          <tbody  >
            
            <tr *ngFor="let user of users|paginate:{itemsPerPage:4,currentPage:p};">
              
             
              <td><input type="checkbox" id="checkd"></td>
              <td>{{ user. id}}</td>
              <td>{{ user. role}}</td>
              <td>{{ user. type }}</td>
              <td>{{ user. fullname }}</td>
              <td>{{ user. usename}}</td>
              <td>{{ user. gender}}</td>
              <td>{{ user. email }}</td>
              <td>{{ user. phone }}</td>
              <td>{{ user. status }}</td>
              
              <td >
                <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center" >
                  <a class="btn btn-primary" (click)="onOpenModal(user, 'edit')" role="button">Edit</a>
                 
                  <!-- <span class="sr-only">(current)</span> -->
          <button type="button" class="btn btn-ghost-success" (click)="onOpenModal(user, 'delete')" role="button"><i class="fa fa-lightbulb-o"></i>Delete</button>
          <div style="float:left;"> <a class="btn btn-outline-success" (click)="onOpenModal(user,'move')" role="button" style="float:left">Description </a> </div>
        </div>
        
              </td>
            </tr>
           
          </tbody>
        </table>
        <!-- <nav style="float:right; padding-right: 30px;">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav> -->
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
        <pagination-controls (pageChange)=" p= $event"></pagination-controls>

        <div>
          
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" >
         <a class="btn btn-outline-primary"  role="button"(click)="onOpenModal(null, 'add')" style="float:left;margin-right:30px">Create </a>
         
        </div>
      
        
        
      </div>
      
    </div>
    
  </div>
  
 
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)" >
          
            
          <div class="form-group">
             <label for="ID">ID</label>
             <input type="text" ngModel name="id" class="form-control" id="id" placeholder="ID" required>
          </div>
          <div class="form-group">
             <label for="Type">Type</label>
             <input type="text" ngModel name="type" class="form-control" id="Type" placeholder="Type" required>
          </div>
          <div class="form-group">
             <label for="Role">Role</label>
             <input type="text" ngModel name="role" class="form-control" id="Role" placeholder="Job Role" required>
          </div>
          <div class="form-group">
             <label for="Fullname">Fullname</label>
             <input type="text" ngModel name="personalid" class="form-control" id="Fullname" placeholder="Fullname" required>
          </div>
          <div class="form-group">
             <label for="Username">Username</label>
             <input type="text" ngModel name="username" class="form-control" id="Username" placeholder=" Username" required>
          </div>
          <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="text" ngModel name="gender" class="form-control" id="Gender" placeholder=" Gender" required>
         </div>
         <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" ngModel name="email" class="form-control" id="Email" placeholder=" Email" required>
         </div>
         <div class="form-group">
            <label for="Phone">Phone</label>
            <input type="text" ngModel name="phone" class="form-control" id="Phone" placeholder=" Phone" required>
         </div>
         <div class="form-group">
            <label for="Status">Status</label>
            <input type="text" ngModel name="status" class="form-control" id="Status" placeholder=" Status" required>
         </div>
          <div class="modal-footer">
             <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <!-- [disabled]="addForm.invalid" -->
             <button  type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title"  id="updateEmployeeModalLabel">Edit Employee</h5>
           
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm ="ngForm">
              <div class="form-group">
                 <label for="name">ID</label>
                 <input type="text" ngModel="{{editUser?.id}}" name="id" class="form-control" id="id" placeholder="Name">
                 
              </div>
              <label for="name">Fullname</label>
              <input ngModel="{{editUser?.role}}"  name="role" class="form-control" id="FULL_NAME" placeholder="FULL_NAME">
              <label for="name">class_NAME</label>
              <input ngModel="{{editUser?.username}}"  name="username" class="form-control" id="CLASS_NAME" placeholder="CLASS_NAME">
              
              <div class="form-group">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.password}}"  name="password" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.email}}"  name="email" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.phone}}"  name="phone" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.firstname}}"  name="firstname" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.middlename}}"  name="middlename" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.lastname}}"  name="lastname" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.type}}"  name="type" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.personalid}}"  name="personalid" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <input type="text" ngModel="{{editUser?.hometown}}"  name="hometown" class="form-control" id="personId" placeholder="personId">
                 <label for="email">personId</label>
                 <<input type="text" ngModel="{{editUser?.avatar}}"  name="avatar" class="form-control" id="personId" placeholder="personId">
                
              </div>
             
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                 
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete employee?</p>
           
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button  class="btn btn-danger" data-dismiss="modal" (click)="onDeleteUser(deleteUser.id)">Yes</button>
              
           </div>
        </div>
     </div>
  </div>
</div>


<!-- Move-Modal -->
<!-- <div class="modal" tabindex="-1" role="dialog" id="moveEmployeeModal">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">Move Employee</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form #move="ngForm">
            <div class="form-group">
               <label for="name">ID</label>
               <input type="text" ngModel="{{moveEmployee?.id}}" name="id" class="form-control" id="id" readonly="readonly"  >
               <label for="name">Type</label>
               <input type="hidden" ngModel="{{moveEmployee?.FULL_NAME}}" name="FULL_NAME" class="form-control" id="id"   >
               <label for="name">Role</label>
               <input type="text" ngModel="{{moveEmployee?.CLASS_NAME}}" name="CLASS_NAME" class="form-control" id="id" >
               <label for="name">Full name</label>
               <input type="hidden" ngModel="{{moveEmployee?.personId}}" name="personId" class="form-control" id="id">
               
            </div>
         </form>

       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button"  class="btn btn-primary" data-dismiss="modal" (click)="onMoveEmloyee(move.value)">Save changes</button>
       </div>
     </div>
   </div>
   </div>
 </div> -->
 
 


 