<style>

  *{
   
    font-family: 'Times New Roman';
  }

  .table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 768px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
  .table tr{
		margin-bottom:15px;
}
.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
  .table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}

.input-group,.input-group input,.input-group button{
 
  width: 100%;

font-family: 'Courier New';

}

.btn-group{
  float: none;
  padding-left:20px
}
}
	
</style>

<div class="row" id="main-container">
  <div class="col-lg-12" id="move">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Combined All Table
      </div>
      <div>
        <div class="card-body" style="margin-left: 16px;">
          <div class="btn-group" dropdown>
            <select id="seclec"    style="color: #000000;background-color:#DCDCDC; border-radius: 5px;" [(ngModel)]="seach.keyword1">
            <option value="4" autoselected></option>
            <option value="0">ADMIN</option>
            <option value="1">MANAGER</option>
            <option value="2">PM</option>
            <option value="3">MEMBER</option>

            </select>

            <div class="btn-group" dropdown style="float:left;margin-left: 16px;">
              
               <select     style="height: 50px;color: #000000;background-color:#DCDCDC; border-radius: 5px;" [(ngModel)]="seach.keyword3">
              <option value="4" selected ></option>
              <option value="0">INACTIVE</option>
              <option value="1">ACTIVE</option>
               </select>
             
  
     
              </div>

            <div class="input-group" style="margin-left:200px">
              <input [(ngModel)]="seach.keyword2" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
              <button (click)="search(seach)" type="button" class="btn btn-outline-primary">search</button>
            </div>
       
                  

        </div>
        <div>


        </div>
      </div>
      <!-- <h3 class="text-danger text-center" *ngIf="usersfull.length <=0 ;else an ">Không có kết quả tìm thấy</h3> -->
      <div class="card-body" >



       
        <table class="table"  #an >
          <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Type</th>
            <th>Role</th>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Status</th>
            <th></th>
          
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let user of usersfull">
            
            <td data-label=""><input id="checkd" type="checkbox"></td>
            <td data-label="ID">{{ user.id}}</td>
            <td data-label="Type">{{ user.type}}</td>
            <td data-label="Role">{{ user.role }}</td>
            <td data-label="Username">{{ user.username}}</td>
            <td data-label="Gender" *ngIf="user.gender ;else a" >Nam</td>
            
            <ng-template #a>Nu</ng-template>
            <td data-label="Email">{{ user.email }}</td>
            <td data-label="Phone">{{ user.birthday }}</td>
            <td data-label="Status">{{ user.status }}</td>
            

            <td data-label="">
              <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                <a (click)="onOpenModal(user, 'edit')" class="btn btn-primary" role="button">Edit</a>

                <!-- <span class="sr-only">(current)</span> -->
                <button (click)="onOpenModal(user, 'delete')" class="btn btn-ghost-success" role="button" type="button">
                  <i class="fa fa-lightbulb-o"></i>Delete
                </button>
                
              </div>

            </td>
          </tr>

          </tbody>
        </table>
       
        <div>

        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a (click)="onOpenModal(null, 'add')" class="btn btn-outline-primary" role="button"
             style="float:left;margin-right:30px">Create </a>
             <div style="float:left;"><a (click)="onOnpen(moveUser,'move')" class="btn btn-outline-success" role="button" style="float:left">Description </a></div>

        </div>



 <!--    phân trang-->
 <div class="mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-md-end justify-content-center">
      <li class="page-item"><a class="page-link" (click)="firtPage()">Đầu</a></li>
      <li class="page-item"><a class="page-link" (click)="prviousPage()">Trang trước</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage()">Trang kế</a></li>
    </ul>
  </nav>
</div>
</div>


  
      </div>

    </div>

  </div>


<!-- </div> -->

<!-- Add Employee Modal -->
<div aria-hidden="true" aria-labelledby="addEmployeeModalLabel" class="modal fade" id="addEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">

<div style="float: left"  >
         
  <div class="form-group">
    <label for="ID">ID</label>
    <input class="form-control" name="id"  ngModel placeholder="ID"  type="text" required>
  </div>
          <div class="form-group">
            <label for="ID">Password</label>
            <input class="form-control" name="password" autocomplete="off" ngModel placeholder="ID"  type="password" >
          </div>
         
          <div class="form-group">
            <label for="email">Type</label>
            <select class="selectpicker show-menu-arrow"  name="type" ngModel>
              <option value="0">Thu Viec</option>
              <option value="1">Thuc Tap</option>
              <option value="2">NHan Vien Chinh Thuc</option>
                 
              </select><br>

              
            <!-- <input class="form-control" id="Type" name="type" ngModel placeholder="Type" required type="text"> -->
          </div>
          <div class="form-group">
            <label for="name">Role</label>
          <select class="selectpicker show-menu-arrow"name="role" ngModel>
            <option value="0">ADIM</option>
            <option value="1">MANAGER</option>
            <option value="2">PM</option>
            <option value="3">MEMBER</option>
            </select><br>
          </div>
          <div class="form-group">
            <label for="Fullname">Username</label>
            <input class="form-control"  name="username" ngModel placeholder="Fullname" required
                   type="text">
          </div>
          <div class="form-group">
            <label for="Username">Firstname</label>
            <input class="form-control"  name="firstName" ngModel placeholder=" Username" required
                   type="text">
          </div>
          <div class="form-group">
            <label for="Gender">Gender</label>
            <!-- class="form-control" -->
            <input name="gender" ngModel  type="radio" value="true">Nam
            <input name="gender" type="radio" ngModel  value="false">Nu
           
          </div>
          <!-- [(ngModel)]="aa" -->
          <div class="form-group">
            <label for="Email">Email</label>
            <input class="form-control" name="email" ngModel placeholder=" Email" required type="text">
          </div>
          <div class="form-group">
            <label for="Phone">Phone</label>
            <input class="form-control"  name="phone" ngModel placeholder=" Phone" required type="text">
          </div>
          <div class="form-group">
            <label for="email">Status</label>
            <select class="form-control"  name="status" ngModel>
              <option value="0">INACTIVE</option>
              <option value="1">ACTIVE</option>
      
              </select><br>
          
          </div>
          <div class="form-group">
            <label for="Status">Birthday</label>
            <input class="form-control"  name="birthday" ngModel placeholder=" Status" required type="date">
            
          </div>
</div>
<div style="float:left">
          <div class="form-group 2">
            <label for="Status">Middlename</label>
            <input class="form-control"  name="middleName" ngModel placeholder=" Status" required type="text">
            
          
          </div>
          <div class="form-group 2">
            <label for="Status">Lastname</label>
            <input class="form-control" name="lastname" ngModel placeholder=" Status" required type="text">
            
          
          </div>
          <div class="form-group">
            <label for="Status">Personalid</label>
            <input class="form-control"  name="personalid" ngModel placeholder=" Status" required type="text">
            
          
          </div>
          <div class="form-group">
            <label for="Status">Hometown</label>
            <input class="form-control"  name="hometown" ngModel placeholder=" Status" required type="text">
            
          
          </div>
          <div class="form-group">
            <label for="Status">School</label>
            <input class="form-control"  name="school" ngModel placeholder=" Status" required type="text">

          </div>
          <div class="form-group">
            <label for="Status">Education</label>
            <input class="form-control"  ngModel name="education" placeholder=" Status" required type="text">
            
          </div>
          <div class="form-group">
            <label for="Status">Major</label>
            <input class="form-control"  name="major" ngModel placeholder=" Status" required type="text">
            
          </div>
          <div class="form-group">
            <label for="Status">Avatar</label>
            <input class="form-control"  name="avatar" ngModel placeholder=" Status" required type="text">
            
          </div>
          <div class="form-group">
            <label for="Status">DayOffLastYear</label>
            <input class="form-control"  name="dayOffLastYear" ngModel placeholder=" Status" required type="text">
            
          </div>
          <div class="form-group">
            <label for="Status">DateCreated</label>
            <input class="form-control"  name="dateCreated" ngModel placeholder=" Status" required type="date">
            
          </div>
         
          

          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" id="add-employee-form" type="button">Close</button>
            <!-- [disabled]="addForm.invalid" -->
            <button class="btn btn-primary" type="submit">Save changes</button>
          </div>

   </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div aria-hidden="true" aria-labelledby="employeeEditModalLabel" class="modal fade" id="updateEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee</h5>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">

          
         <div style="float: left;">
            <label for="name">ID</label>
            <input class="form-control"  name="id" ngModel="{{editUser?.id}}" placeholder="Name" type="text">
          
          <label for="name">Role</label>
          <select class="selectpicker show-menu-arrow"name="role" ngModel>
            <option value="0">ADIM</option>
            <option value="1">MANAGER</option>
            <option value="2">PM</option>
            <option value="3">MEMBER</option>
            </select><br>
          <label for="name">User Name</label>
          <input class="form-control"  name="username" ngModel="{{editUser?.username}}"
                 placeholder="CLASS_NAME">

          
            <label for="email">Password</label>
            <input class="form-control" name="password" ngModel="{{editUser?.password}}" placeholder="personId"
                   type="text">
            <label for="email">Email</label>
            <input class="form-control"  name="email" ngModel="{{editUser?.email}}" placeholder="personId"
                   type="text">
            <label for="email">Phone</label>
            <input class="form-control"  name="phone" ngModel="{{editUser?.phone}}" placeholder="personId"
                   type="text">
            <label for="email">First Name</label>
            <input class="form-control" name="firstName" ngModel="{{editUser?.firstName}}" placeholder="personId"
                   type="text">
            <label for="email">Middle Name</label>
            <input class="form-control"  name="middleName" ngModel="{{editUser?.middleName}}" placeholder="personId"
                   type="text">
            <label for="email">Lastname</label>
            <input class="form-control"  name="lastname" ngModel="{{editUser?.lastname}}" placeholder="personId"
                   type="text">
            <label for="email">Type</label>
            <select class="selectpicker show-menu-arrow"  name="type" ngModel>
              <option value="0">Thu Viec</option>
              <option value="1">Thuc Tap</option>
              <option value="2">NHan Vien Chinh Thuc</option>
                 
              </select><br>

              <label for="email">Gender</label>
              <input name="gender" ngModel  type="radio" value="true">Nam
              <input name="gender" type="radio" ngModel  value="false">Nu<br>
  </div>

        
            
  
          <div style="float:left">
            <label for="email">personId</label>
            <input class="form-control"   name="personId" ngModel="{{editUser?.personalid}}" placeholder="personId"
                   type="text">
            <label for="email">Home Town</label>
            <input class="form-control" name="hometown" ngModel="{{editUser?.hometown}}" placeholder="personId"
                   type="text">
            <label for="email">Education</label>
            <input class="form-control"  name="education" ngModel="{{editUser?.education}}" placeholder="personId"
                    type="text">
                    <label for="email">School</label>
            <input class="form-control" name="school" ngModel="{{editUser?.school}}" placeholder="personId"
                   type="text">
            <label for="email">Major</label>
            <input class="form-control" name="major" ngModel="{{editUser?.major}}" placeholder="personId"
                    type="text">
                    <label for="email">Status</label>
                    <select class="form-control"  name="status" ngModel>
                      <option value="0">INACTIVE</option>
                      <option value="1">ACTIVE</option>
              
                      </select><br>
            <label for="email">Avatar</label>
            <input class="form-control"  name="avatar" ngModel="{{editUser?.avatar}}" placeholder="personId"
                    type="text">
                    <label for="email">Date Off LastYear</label>
            <input class="form-control"  name="dayOffLastYear" ngModel="{{editUser?.dayOffLastYear}}"
                   type="text">
            <label for="email">Date Created</label>
            <input class="form-control"  name="dateCreated" ngModel="{{editUser?.dateCreated}}" placeholder=""
                    type="date">
           
            <label for="email">Birthday</label>
            <input class="form-control" name="birthday" ngModel="{{editUser?.birthday}}" placeholder=""
                    type="date">

                  </div>


         

          <div  style="float:right ;" >
            <button class="btn btn-secondary" data-dismiss="modal" id="" type="button">Close</button>
            <button (click)="onUpdateUser(editForm.value)" class="btn btn-primary" data-dismiss="modal">Save changes
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div aria-hidden="true" aria-labelledby="deleteModelLabel" class="modal fade" id="deleteEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee?</p>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">No</button>
          <button (click)="onDeleteUser(deleteUser.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Move-Modal  -->

  <div class="modal" tabindex="-1" role="dialog" id="moveEmployeeModal">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">Move Employee</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form #move="ngForm">
            <div class="form-group">
               <label for="name">ID</label>
               <input type="text" ngModel="{{moveUser?.id}}" name="id" class="form-control"  readonly="readonly"  >
               <label for="name">Type</label>
               <input type="text" ngModel="{{moveUser?.divisionId}}" name="divisionId" class="form-control"   >
               

            </div>
         </form>

       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button"  class="btn btn-primary" data-dismiss="modal" (click)="onMoveEmloyee(move.value)">Save changes</button>
       </div>
     </div>
   </div>
   </div>

 </div> 