<div class="row" id="main-container">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Combined All Table
      </div>
      <div>
        <div class="card-body" style="margin-left: 30px;">
          <div class="btn-group" dropdown>
            <select id="seclec" style="width:80px; background-color:#0099FF; border-radius: 5px;">
              <option value="Role">Role</option>
              <option value="Division">Division</option>
              <option value="Project">Project</option>
              <option value="Type">Type</option>

            </select>
            <!-- (ngModelChange)="searchEmployees(key.value)" -->
            <input #key="ngModel" class="form-control mr-sm-2" id="searchName"
                   name="key" ngModel placeholder="Search employees..." required style="float:left;margin-left: 400px;"
                   type="search">
          </div>

        </div>
        <div>


        </div>
      </div>
      <div class="card-body">

        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Type</th>
            <th>Role</th>
            <th>Fullname</th>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th></th>


          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let user of users|paginate:{itemsPerPage:4,currentPage:p};">


            <td><input id="checkd" type="checkbox"></td>
            <td>{{ user.id}}</td>
            <td>{{ user.role}}</td>
            <td>{{ user.type }}</td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.usename}}</td>
            <td>{{ user.gender}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.status }}</td>

            <td>
              <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                <a (click)="onOpenModal(user, 'edit')" class="btn btn-primary" role="button">Edit</a>

                <!-- <span class="sr-only">(current)</span> -->
                <button (click)="onOpenModal(user, 'delete')" class="btn btn-ghost-success" role="button" type="button">
                  <i class="fa fa-lightbulb-o"></i>Delete
                </button>
                <div style="float:left;"><a (click)="onOpenModal(user,'move')" class="btn btn-outline-success"
                                            role="button" style="float:left">Description </a></div>
              </div>

            </td>
          </tr>

          </tbody>
        </table>
        <!-- <nav style="float:right; padding-right: 30px;">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav> -->
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
        <pagination-controls (pageChange)=" p= $event"></pagination-controls>

        <div>

        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <a (click)="onOpenModal(null, 'add')" class="btn btn-outline-primary" role="button"
             style="float:left;margin-right:30px">Create </a>

        </div>


      </div>

    </div>

  </div>


</div>

<!-- Add Employee Modal -->
<div aria-hidden="true" aria-labelledby="addEmployeeModalLabel" class="modal fade" id="addEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">


          <div class="form-group">
            <label for="ID">ID</label>
            <input class="form-control" id="id" name="id" ngModel placeholder="ID" required type="text">
          </div>
          <div class="form-group">
            <label for="Type">Type</label>
            <input class="form-control" id="Type" name="type" ngModel placeholder="Type" required type="text">
          </div>
          <div class="form-group">
            <label for="Role">Role</label>
            <input class="form-control" id="Role" name="role" ngModel placeholder="Job Role" required type="text">
          </div>
          <div class="form-group">
            <label for="Fullname">Fullname</label>
            <input class="form-control" id="Fullname" name="personalid" ngModel placeholder="Fullname" required
                   type="text">
          </div>
          <div class="form-group">
            <label for="Username">Username</label>
            <input class="form-control" id="Username" name="username" ngModel placeholder=" Username" required
                   type="text">
          </div>
          <div class="form-group">
            <label for="Gender">Gender</label>
            <input class="form-control" id="Gender" name="gender" ngModel placeholder=" Gender" required type="text">
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input class="form-control" id="Email" name="email" ngModel placeholder=" Email" required type="text">
          </div>
          <div class="form-group">
            <label for="Phone">Phone</label>
            <input class="form-control" id="Phone" name="phone" ngModel placeholder=" Phone" required type="text">
          </div>
          <div class="form-group">
            <label for="Status">Status</label>
            <input class="form-control" id="Status" name="status" ngModel placeholder=" Status" required type="text">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" id="add-employee-form" type="button">Close</button>
            <!-- [disabled]="addForm.invalid" -->
            <button class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div aria-hidden="true" aria-labelledby="employeeEditModalLabel" class="modal fade" id="updateEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee</h5>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">ID</label>
            <input class="form-control" id="id" name="id" ngModel="{{editUser?.id}}" placeholder="Name" type="text">

          </div>
          <label for="name">Fullname</label>
          <input class="form-control" id="FULL_NAME" name="role" ngModel="{{editUser?.role}}" placeholder="FULL_NAME">
          <label for="name">class_NAME</label>
          <input class="form-control" id="CLASS_NAME" name="username" ngModel="{{editUser?.username}}"
                 placeholder="CLASS_NAME">

          <div class="form-group">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="password" ngModel="{{editUser?.password}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="email" ngModel="{{editUser?.email}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="phone" ngModel="{{editUser?.phone}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="firstname" ngModel="{{editUser?.firstname}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="middlename" ngModel="{{editUser?.middlename}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="lastname" ngModel="{{editUser?.lastname}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="type" ngModel="{{editUser?.type}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="personalid" ngModel="{{editUser?.personalid}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <input class="form-control" id="personId" name="hometown" ngModel="{{editUser?.hometown}}" placeholder="personId"
                   type="text">
            <label for="email">personId</label>
            <<input class="form-control" id="personId" name="avatar" ngModel="{{editUser?.avatar}}" placeholder="personId"
                    type="text">

          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" id="" type="button">Close</button>
            <button (click)="onUpdateUser(editForm.value)" class="btn btn-primary" data-dismiss="modal">Save changes
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div aria-hidden="true" aria-labelledby="deleteModelLabel" class="modal fade" id="deleteEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee?</p>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">No</button>
          <button (click)="onDeleteUser(deleteUser.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Move-Modal -->
<!-- <div class="modal" tabindex="-1" role="dialog" id="moveEmployeeModal">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">Move Employee</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form #move="ngForm">
            <div class="form-group">
               <label for="name">ID</label>
               <input type="text" ngModel="{{moveEmployee?.id}}" name="id" class="form-control" id="id" readonly="readonly"  >
               <label for="name">Type</label>
               <input type="hidden" ngModel="{{moveEmployee?.FULL_NAME}}" name="FULL_NAME" class="form-control" id="id"   >
               <label for="name">Role</label>
               <input type="text" ngModel="{{moveEmployee?.CLASS_NAME}}" name="CLASS_NAME" class="form-control" id="id" >
               <label for="name">Full name</label>
               <input type="hidden" ngModel="{{moveEmployee?.personId}}" name="personId" class="form-control" id="id">

            </div>
         </form>

       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button"  class="btn btn-primary" data-dismiss="modal" (click)="onMoveEmloyee(move.value)">Save changes</button>
       </div>
     </div>
   </div>
   </div>
 </div> -->




