<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card m-0">
        <div class="card-header">
          <strong>Register Form</strong>
        </div>
        <div class="card-body">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="col-md-6 m-auto">


      <mat-form-field class="form-group row">
        <mat-label class="col-md-3 col-form-label">User Name</mat-label>
        <div class="col-md-9">
          <input matInput placeholder="Username" formControlName="username"  class="form-control">
          <mat-error *ngIf="registerForm.get('username').errors ">Username is required</mat-error>
                    </div>
      </mat-form-field>

      <!-- <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="registerForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div> -->



      <mat-form-field class="form-group row">
        <mat-label class="col-md-3 col-form-label">Email</mat-label>
        <div class="col-md-9">
          <input matInput placeholder="Email" formControlName="email" required  class="form-control">

          <mat-error *ngIf="registerForm.get('email').errors">Email is required</mat-error>
            </div>
      </mat-form-field>



      <mat-form-field class="form-group row">
        <mat-label class="col-md-3 col-form-label">Password</mat-label>
        <div class="col-md-9">
          <input matInput type="password" placeholder="Password" formControlName="password"  class="form-control">
          <mat-hint *ngIf="registerForm.get('password').errors">Password is required</mat-hint>
          </div>
      </mat-form-field>



      <mat-form-field class="form-group row">
        <mat-label class="col-md-3 col-form-label">Confirm Email</mat-label>
        <div class="col-md-9">
          <input matInput type="password" placeholder="Password COnfirmation" formControlName="confirmPassword"  class="form-control">
          <mat-hint *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords not matching</mat-hint>
        </div>
        </mat-form-field>



        <mat-form-field class="form-group row">
          <mat-label class="col-md-3 col-form-label">Phone</mat-label>
          <div class="col-md-9">
        <input matInput placeholder="Phone" formControlName="phone"  class="form-control">
        <mat-hint *ngIf="registerForm.get('phone').errors">Phone is required</mat-hint>
          </div>
    </mat-form-field>


    <!-- <mat-form-field>
      <input matInput type="text" placeholder="Division name" formControlName="division">
      <mat-hint *ngIf="registerForm.get('division').errors">Division is required</mat-hint>
  </mat-form-field> -->

      <button mat-flat-button color="primary" [disabled]="!registerForm.valid" type="submit">Register</button>
  </div>
</form>
<!--
<h3 *ngIf="registerForm.invalid">Form contains following errors</h3>
<small *ngIf="registerForm.get('password').hasError('passwordInvalid')">Password is not containing a number</small> <br>
<small *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords not matching</small> -->
